<div class="page">
  <section class="background-image">
    <div class="bg-pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 class="h1 header-title text-uppercase">
              Незалежна оцінка <br />нерухомості
            </h2>
            <ul class="front-price">
              <li>Земельна ділянка</li>
              <li>Квартира</li>
              <li>Житловий або садовий будинок</li>
            </ul>
            <ul class="delivery">
              <li>Відправка Новою Поштою в день виконання звіту.</li>
              <li>Самовивіз з офісу біля метро Університет.</li>
            </ul>
          </div>
          <!-- <div class="col-md-5">
                <div class="conversation-form">
                  <div class="sub-form">
                    <h4 class="text-uppercase text-center">Заявка на оцінку нерухомості</h4>
                    <div class="front-form">
                      <div role="form" class="wpcf7" id="wpcf7-f1305-o1" lang="ru-RU" dir="ltr">
                        <div class="screen-reader-response">
                          <p role="status" aria-live="polite" aria-atomic="true"></p>
                          <ul></ul>
                        </div>
                        <form action="https://zemocenka.com/#wpcf7-f1305-o1" method="post" class="wpcf7-form init"
                          novalidate="novalidate" data-status="init">
                          <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="1305">
                            <input type="hidden" name="_wpcf7_version" value="5.4">
                            <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1305-o1">
                            <input type="hidden" name="_wpcf7_container_post" value="0">
                            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                          </div>
                          <p><label><span class="wpcf7-form-control-wrap username"><input type="text" name="username"
                                  value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-field"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="Ваше ім&#39;я"></span></label><label><span
                                class="wpcf7-form-control-wrap userphone"><input type="tel" name="userphone" value=""
                                  size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-field"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="Номер телефону"></span></label><label><span
                                class="wpcf7-form-control-wrap email"><input type="text" name="email" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text form-field" aria-invalid="false"
                                  placeholder="Ваш e-mail"></span></label><label class="text-center"><input type="submit"
                                value="Замовити оцінку" class="wpcf7-form-control wpcf7-submit"><span
                                class="ajax-loader"></span></label></p>
                          <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="frontpage services">
    <div class="bg-pattern">
      <div class="container">
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/works-ground'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Otsinka-zemelnoyi-dilyanky-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Експертна оцінка земельних ділянок</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/works-ground'" class="button">
                  Детальніше
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/works-concrete'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Оцінка-нерухомого-майна-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Експертна оцінка нерухомого майна</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/works-concrete'" class="button">
                  Детальніше
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/works-house'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2017/01/Оцінка-приватного-будинку-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Оцінка приватного будинку</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/works-house'" class="button"> Детальніше </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/works-village'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2017/01/Оцінка-земель-сільськогосподарського-значення-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">
                Оцінка земель сільськогосподарського призначення
              </h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/works-village'" class="button">
                  Детальніше
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/works-refund'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Ekspertna-otsinka-zbytkiv-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Експертна оцінка збитків</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/works-refund'" class="button">
                  Детальніше
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/bti'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Poslugy-BTI-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Послуги БТI</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/bti'" class="button"> Детальніше </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/land'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Proekt-zemelnoyi-dilyanky-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">Проект відведення земельної ділянки</h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/land'" class="button"> Детальніше </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <div class="service-item">
              <a
                [routerLink]="'/goal'"
                class="service-item-image"
                style="
                  background-image: url(https://zemocenka.com/wp-content/uploads/2015/03/Проект-земельного-участка-изменение-целевого-назначения-350x230.jpg);
                "
              >
                <i class="fa fa-eye"></i>
              </a>
              <h4 style="height: 54px">
                Проект на зміну цільового призначення землі
              </h4>
              <!--<span itemprop="description">Оценка квартиры от 3 000 р</span>-->
              <!--<div class="service-item-stars">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>-->
              <div class="service-item-price">
                <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                      <i class="fa fa-tags"></i> <span itemprop="price">0.00</span> <span itemprop="priceCurrency">UAH</span>
                                  </div> -->
                <br />
                <a [routerLink]="'/goal'" class="button"> Детальніше </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="choose-us frontpage">
    <div class="container">
      <h3 class="text-center text-uppercase">Чому варто обрати саме нас</h3>
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="item">
            <h4>Доступна ціна</h4>
            <p>Ми пропонуємо краще співвідношення ціни та якості.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="item">
            <h4>Експрес виконання</h4>
            <p>
              Після узгодження заявки на проведення робіт, ми виконуємо її в
              обговорених часових рамках.
            </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="item">
            <h4>Зручно</h4>
            <ul>
              <li>Швидке виконання;</li>
              <li>Доставка та самовивіз;</li>
              <li>Індивідуальний підхід;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="testimonials frontpage">
      <div class="container">
        <h3 class="text-center text-uppercase">
          Відгуки клієнтів про нас </h3>
        <div class="row">
          <div class="col-md-3">
            <div>
              <div class="service-item">
                <a href="https://zemocenka.com/wp-content/uploads/2017/05/%D0%92%D1%96%D0%B4%D0%B3%D1%83%D0%BA-%D0%B1%D1%83%D0%B4%D1%96%D0%B2%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%97-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D1%96%D1%97-%D0%91%D1%96%D0%BB%D0%B8%D0%B9-%D0%A8%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4.png"
                  class="service-item-image" data-lightbox="roadtrip">
                  <img width="228" height="300" alt="" loading="lazy"
                    data-srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад.png 679w"
                    data-src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png"
                    data-sizes="(max-width: 228px) 100vw, 228px"
                    class="attachment-medium size-medium wp-post-image lazyloaded"
                    src="./Інститут незалежної експертної оцінки рухомого та нерухомого майна_files/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png"
                    sizes="(max-width: 228px) 100vw, 228px"
                    srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад.png 679w"><noscript><img
                      width="228" height="300"
                      src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png"
                      class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"
                      srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-будівельної-компанії-Білий-Шоколад.png 679w"
                      sizes="(max-width: 228px) 100vw, 228px" /></noscript> </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="service-item">
                <a href="https://zemocenka.com/wp-content/uploads/2017/05/%D0%92%D1%96%D0%B4%D0%B3%D1%83%D0%BA-%D0%BD%D0%BE%D1%82%D0%B0%D1%80%D1%96%D1%83%D1%81%D0%B0-%D0%9B%D1%8E%D0%B7%D0%BD%D1%8F%D0%BA.png"
                  class="service-item-image" data-lightbox="roadtrip">
                  <img width="228" height="300" alt="" loading="lazy"
                    data-srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк.png 679w"
                    data-src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-228x300.png"
                    data-sizes="(max-width: 228px) 100vw, 228px"
                    class="attachment-medium size-medium wp-post-image lazyloaded"
                    src="./Інститут незалежної експертної оцінки рухомого та нерухомого майна_files/Відгук-нотаріуса-Люзняк-228x300.png"
                    sizes="(max-width: 228px) 100vw, 228px"
                    srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк.png 679w"><noscript><img
                      width="228" height="300"
                      src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-228x300.png"
                      class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"
                      srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Люзняк.png 679w"
                      sizes="(max-width: 228px) 100vw, 228px" /></noscript> </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="service-item">
                <a href="https://zemocenka.com/wp-content/uploads/2017/05/%D0%92%D1%96%D0%B4%D0%B3%D1%83%D0%BA-%D0%BD%D0%BE%D1%82%D0%B0%D1%80%D1%96%D1%83%D1%81%D0%B0-%D0%A1%D0%B5%D0%BB%D1%96%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BE%D0%B2%D0%B0.png"
                  class="service-item-image" data-lightbox="roadtrip">
                  <img width="228" height="300" alt="" loading="lazy"
                    data-srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова.png 679w"
                    data-src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-228x300.png"
                    data-sizes="(max-width: 228px) 100vw, 228px"
                    class="attachment-medium size-medium wp-post-image lazyloaded"
                    src="./Інститут незалежної експертної оцінки рухомого та нерухомого майна_files/Відгук-нотаріуса-Селіверстова-228x300.png"
                    sizes="(max-width: 228px) 100vw, 228px"
                    srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова.png 679w"><noscript><img
                      width="228" height="300"
                      src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-228x300.png"
                      class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"
                      srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-228x300.png 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова-114x150.png 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Селіверстова.png 679w"
                      sizes="(max-width: 228px) 100vw, 228px" /></noscript> </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="service-item">
                <a href="https://zemocenka.com/wp-content/uploads/2017/05/%D0%92%D1%96%D0%B4%D0%B3%D1%83%D0%BA-%D0%BD%D0%BE%D1%82%D0%B0%D1%80%D1%96%D1%83%D1%81%D0%B0-%D0%9C%D0%B0%D0%B7%D1%83%D1%80%D1%87%D1%83%D0%BA.jpg"
                  class="service-item-image" data-lightbox="roadtrip">
                  <img width="228" height="300" alt="" loading="lazy"
                    data-srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-228x300.jpg 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-114x150.jpg 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук.jpg 679w"
                    data-src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-228x300.jpg"
                    data-sizes="(max-width: 228px) 100vw, 228px"
                    class="attachment-medium size-medium wp-post-image lazyloaded"
                    src="./Інститут незалежної експертної оцінки рухомого та нерухомого майна_files/Відгук-нотаріуса-Мазурчук-228x300.jpg"
                    sizes="(max-width: 228px) 100vw, 228px"
                    srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-228x300.jpg 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-114x150.jpg 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук.jpg 679w"><noscript><img
                      width="228" height="300"
                      src="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-228x300.jpg"
                      class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"
                      srcset="https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-228x300.jpg 228w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук-114x150.jpg 114w, https://zemocenka.com/wp-content/uploads/2017/05/Відгук-нотаріуса-Мазурчук.jpg 679w"
                      sizes="(max-width: 228px) 100vw, 228px" /></noscript> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  <section class="testimonials frontpage">
    <div class="container">
      <h3 class="text-center text-uppercase">Статті</h3>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <article
            id="post-1982"
            class="post-1982 post type-post status-publish format-standard has-post-thumbnail hentry category-articles"
          >
            <div class="single-blog-post">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="blog-thumb"
                    style="
                      background-image: url(https://zemocenka.com/wp-content/uploads/2018/04/Osobennosty-otsenky-zemelnyh-uchastkov-v-Ukrayne.jpg);
                    "
                  ></div>
                </div>

                <div class="col-md-6">
                  <div class="blog-desc">
                    <!-- <div class="post-date">
                                                                      </div> -->
                    <h3>
                      <a
                        href="https://zem-price.web.app/osoblyvosti-otsinky-zemelnyh-dilyanok-v-ukrayini/"
                      >
                        Особливості оцінки земельних ділянок в Україні
                      </a>
                    </h3>

                    <div class="blog-excerpt">
                      <p>
                        Земля – ​​обмежений природний ресурс, з яким пов’язані
                        різні сфери діяльності людини. У зв’язку з цим вона
                        представляє високу цінність і на неї завжди є попит.
                        Оскільки їй присвоюється певна вартість, оцінка землі
                        необхідна як для економіки, так і людського суспільства
                        в цілому. Вона необхідна для ефективного управління в
                        даній сфері і встановленні обгрунтованих податків […]
                      </p>
                    </div>

                    <a
                      href="https://zem-price.web.app/osoblyvosti-otsinky-zemelnyh-dilyanok-v-ukrayini/"
                      class="blog-readmore-btn"
                    >
                      Детальніше
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <article
            id="post-1974"
            class="post-1974 post type-post status-publish format-standard has-post-thumbnail hentry category-articles"
          >
            <div class="single-blog-post">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="blog-thumb"
                    style="
                      background-image: url(https://zemocenka.com/wp-content/uploads/2017/12/Osoblyvosti-otsinky-kvartyry.jpg);
                    "
                  ></div>
                </div>

                <div class="col-md-6">
                  <div class="blog-desc">
                    <!-- <div class="post-date">
                                                                      </div> -->
                    <h3>
                      <a
                        href="https://zem-price.web.app/osnovni-kryteriyi-vyznachennya-vartosti-kvartyry/"
                      >
                        Основні критерії визначення вартості квартири
                      </a>
                    </h3>

                    <div class="blog-excerpt">
                      <p>
                        Рано чи пізно кожна людина задається питанням про
                        вартість своєї нерухомості. І зовсім неважливо, чи
                        замислюється вона про купівлю квартири, її продаж,
                        передача в оренду або поділ. Насправді, якісна оцінка
                        ринкової вартості квартири стоїть на чолі кута при
                        виникненні багатьох юридичних ситуацій, якими наповнена
                        наша життєдіяльність. Недооцінюйте такі моменти,
                        особливо якщо дорогоцінний об’єкт знаходиться “в […]
                      </p>
                    </div>

                    <a
                      href="https://zem-price.web.app/osnovni-kryteriyi-vyznachennya-vartosti-kvartyry/"
                      class="blog-readmore-btn"
                    >
                      Детальніше
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials frontpage seo">
    <div class="container">
      <div class="row">
        <article
          id="post-99"
          class="col-md-12 post-99 page type-page status-publish hentry"
        >
          <h1 style="text-align: justify">
            Професійна оцінка землі і всіх форм майна в найкоротші терміни
          </h1>
          <p style="text-align: justify">
            <strong>Експертна оцінка землі</strong> – нагальне питання і
            розповсюджена процедура, особливо для власників ділянок у Києві та
            Київській області, де спостерігаються активні торговельні операції з
            земельними ресурсами, що багато в чому обумовлює нестабільність ціни
            на сотку. Визначити адекватну вартість земельної ділянки набагато
            складніше, ніж здається на перший погляд: експерт повинен виходити
            не тільки з міркувань віддаленості до столиці і площі, а й
            враховувати масу супутніх факторів: (рельєф, екологічний стан
            району, наявність доріг і транспорту поблизу, можливість забудови та
            ін.). Крім того, нормативна оцінка землі передбачає жорстке
            дотримання встановленого порядку процедури та оформлення паперів.
          </p>
          <p style="text-align: justify">
            Враховуючи складність і багатогранність експертної оцінки, ми
            рекомендуємо дізнатися вартість вашої ділянки, скориставшись
            послугами нашої компанії. На рахунку наших експертів – тисячі
            проведених оцінок для різних земельних ділянок. При цьому
            співробітники працюють дуже швидко і надають вам офіційний звіт про
            експертизу. Даний документ може бути наданий до суду або в
            кредитно-банкові структури.
          </p>
          <h2 style="text-align: justify">Оцінка нерухомості</h2>
          <p style="text-align: justify">
            <strong>Експертна оцінка нерухомості</strong> – одна з
            найпоширеніших послуг нашої компанії, що виникла після того як
            вітчизняні банки почали кредитувати фізичних осіб під заставу
            нерухомості. Ціна на житлові та нежитлові форми нерухомості
            визначається як узагальнення серії найважливіших параметрів (ринкові
            ціни, поверховість, квадратура, висота стель та ін.). Також оціночні
            роботи передбачають складання документальної звітності, яка матиме
            офіційний статус в більшості державних структур. Ми ретельно
            врахуємо всі фактори, що можуть вплинути на цінність об’єкта,
            складемо детальний звіт та затвердимо його у всіх необхідних
            інстанціях.
          </p>
          <h2 style="text-align: justify">Оцінка рухомого майна</h2>
          <p style="text-align: justify">
            Оцінка рухомого майна (насамперед – автомобілів та спеціального
            обладнання) користується в Києві та області попитом не меншим, ніж
            аналогічні процедури з нерухомістю. Разом з тим, замовник повинен
            визначити для себе тип установлюваної вартості даного майна. Якщо ви
            недостатньо досвідчені в подібних випадках, фахівці компанії охоче
            допоможуть вам. Ми разом створимо технічне завдання, намітимо
            можливі шляхи його виконання і самі ж втілимо результати робіт в
            життя. Наші послуги мають найважливіше значення при торгових
            маніпуляціях з об’єктом, заставних операціях, виникненні страхових
            випадків або судових спорів.
          </p>
          <h3 style="text-align: justify">Землевпорядкування</h3>
          <p style="text-align: justify">
            Купівля земельної ділянки – це тільки початок, особливо якщо ви
            плануєте будівництво дачного будиночка або капітального житла. Щоб
            облаштуватися легально, вам доведеться пережити
            <strong>землевпорядкування</strong> зі збором документів, ходінням
            по інстанціях, тривалими годинами чекання у чергах, боязню отримати
            відмову чиновника. Ми позбавимо вас від втрат часу і все зробимо
            самі. У штаті нашого ТОВ успішно працюють справжні фахівці у сфері
            кадастру, професійні геодезисти, досвідчені проектувальники і
            маститі юристи, здатні дуже оперативно отримати результати, оформити
            їх у формі пакету документів і підтвердити в усіх інстанціях. Ми
            створимо проект виведення ділянки з державних ресурсів на вашу
            користь, проведемо повний спектр геодезичних робіт і при
            необхідності змінимо цільове призначення землі. Отримавши ці
            документи на руки, ви можете починати будівництво на своїй ділянці.
          </p>
          <h3 style="text-align: justify">Послуги БТІ</h3>
          <p style="text-align: justify">
            Навіть якщо ви отримали нерухомість у спадок, вона юридично не
            вважається вашим: для того щоб мати можливість продати майно або
            вносити до нього які-небудь зміни, вам будуть потрібні права
            власності на наділ і техпаспорт ділянки. Ці папери можна отримати в
            Бюро Технічної інвентаризації, однак цей шлях – вкрай довгий.
            Набагато простіше і швидше буде замовити послуги БТІ в нашому ТОВ:
            ми негайно займемося вашими документами, а по закінченні роботи
            узаконимо їх, відвідавши відділення архітектури та містобудування.
          </p>
          <h3 style="text-align: justify">Чому варто обрати саме нас</h3>
          <p style="text-align: justify">
            Існує маса факторів, які виділяють нашу компанію серед конкурентів.
          </p>
          <ol style="text-align: justify">
            <li>Ми успішно працюємо на ринку країни з 2003 року.</li>
            <li>
              Компанія охоплює практично весь список можливих оцінок майна.
            </li>
            <li>
              За плечима наших співробітників – роки досвіду і постійне
              підвищення власної кваліфікації.
            </li>
            <li>Всебічний консалтинг клієнтів.</li>
            <li>Прозорі договірні умови.</li>
            <li>Наші послуги є фінансово доступними.</li>
          </ol>
          <p style="text-align: justify">
            Звернення до нас дозволить вам оперативно і недорого оформити
            будь-які документи на своє майно і забути назавжди про рутинну
            паперову роботу.
          </p>
          <h4 style="text-align: justify">Оціночні послуги</h4>
          <ul style="text-align: justify">
            <li>Експертна грошова оцінка земельних ділянок;</li>
            <li>
              Експертна оцінка нерухомості (квартир, будинків, нежитлових
              приміщень);
            </li>
            <li>
              Експертна оцінка рухомого майна (машин та обладнання, транспортних
              засобів, літальних апаратів, повітряних суден, судноплавних
              засобів та інших рухомих речей);
            </li>
            <li>Експертна оцінка цілісних майнових комплексів;</li>
            <li>
              Експертна оцінка нематеріальних активів (майнових прав, цінних
              паперів та акцій, прав інтелектуальної власності;
            </li>
            <li>
              Експертна оцінка збитків (затоплення, пожежі, стихійних лих);
            </li>
          </ul>
          <h4 class="art-postheader main_title" style="text-align: justify">
            Послуги БТІ
          </h4>
          <ul style="text-align: justify">
            <li>Виготовлення технічних паспортів БТІ;</li>
            <li>Реєстрація права власності;</li>
            <li>Узаконення самовільної забудови;;</li>
            <li>
              Консультації з питань реєстрації та інвентаризації всіх типів;
            </li>
          </ul>
          <h4 class="art-postheader main_title" style="text-align: justify">
            Землеподрядні роботи
          </h4>
          <ul class="main_ul">
            <li style="text-align: justify">Приватизація земельних ділянок;</li>
            <li style="text-align: justify">
              Розподіл та об’єднання земельних ділянок;
            </li>
            <li style="text-align: justify">
              Заходи для оформлення правовстановлюючих документів на земельні
              ділянки;
            </li>
            <li style="text-align: justify">
              Переведення земельної ділянки у тимчасове користування(оренда),
              або у приватну власність;
            </li>
            <li style="text-align: justify">
              Відновлення документів на землю, які були втрачені;
            </li>
            <li style="text-align: justify">
              Оформлення кадастрової документації на землю;
            </li>
            <li style="text-align: justify">
              Оформлення документів на інвентаризацію різних категорій земель;
            </li>
            <li style="text-align: justify">
              Оформлення технічних документацій землеустрою щодо встановлення
              меж земельної ділянки на місцевості;
            </li>
            <li style="text-align: justify">
              Розрахунок сільськогосподарських та лісогосподарських втрат на
              виробництві;
            </li>
            <li style="text-align: justify">
              Межування земель державної власності та комунальної у населених
              пунктах;
            </li>
            <li style="text-align: justify">
              Впорядкування угідь та еколого-економічне обґрунтування сівозміни;
            </li>
            <li style="text-align: justify">
              Визначення територіальних меж, що відноситься до
              природно-заповідного фонду;
            </li>
            <li style="text-align: justify">
              Реєстрація ділянок територіальних громад, комунальної власності;
            </li>
            <li style="text-align: justify">
              Зміна і межування адміністративно-територіальних утворень;
            </li>
            <li style="text-align: justify">
              Створення схем розташування та межування ділянок;
            </li>
            <li style="text-align: justify">
              Розробка схем землеустрою і техніко-економічних обґрунтувань
              охорони та використання земель адміністративно-територіальних
              утворень;
            </li>
            <li style="text-align: justify">
              Нормативна грошова оцінка земельних ділянок за межами населеного
              пункту;
            </li>
            <li style="text-align: justify">
              Нормативна грошова оцінка населених пунктів;
            </li>
          </ul>
        </article>
      </div>
    </div>
  </section>
</div>
