<header>
  <div class="header">
    <div class="container">
      <div style="display: flex" class="row">
        <div class="col-md-3 col-xs-12">
          <div class="logo">
            <p>
              <a href="">
                <img alt="" src="assets/logo.jpg" class="lazyloaded" />
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-3 hidden-xs">
          <div class="text-container">
            <h4 class="text-uppercase">Адреса офісу</h4>
            <ul>
              <li>
                <i class="fa fa-map-marker"></i>
                м. Херсон, вул. Миру, 33, оф. 1
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                м. Одеса, вул. Львівська, 48
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                Одеська обл., Роздільнянський р-н, вул. Центральна
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 hidden-xs">
          <div class="text-container">
            <h4 class="text-uppercase">Телефон</h4>
            <ul>
              <li>
                <i class="fa fa-clock-o"></i>+38(095)-693-57-93<br />
                +38(050)-773-29-50<br />+38(066)-052-87-55
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 hidden-xs">
          <div class="text-container">
            <h4 class="text-uppercase">Графік роботи</h4>
            <ul>
              <li>
                <i class="fa fa-clock-o"></i>
                пн-пт з 09:00 - 18:00;<br />
                сб-нд вихідний день<br />
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-3 col-xs-12">
            <div class="text-container">
              <div class="phone">
                <ul>
                  <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:+38 (044) 209 08 16">+38 (044) 209 08 16</a>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:+38 (067) 661 16 79">+38 (067) 661 16 79</a>
                  </li>
                  <li class="hide"></li>
                </ul>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
  <div class="primary-menu">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="bs-navbar-collapse" class="collapse navbar-collapse">
            <ul id="menu-primary" class="nav navbar-nav" data-hover="dropdown">
              <li itemscope="itemscope" id="menu-item-1292"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1292 dropdown">
                <a title="Оціночні роботи" [routerLink]="'/works-ground'" data-toggle="dropdown" class="dropdown-toggle"
                  aria-haspopup="true">Оціночні роботи <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li itemscope="itemscope" id="menu-item-1321"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1321">
                    <a title="Експертна оцінка нерухомого майна"
                      href="https://zem-price.web.app/ekspertna-ocinka-neruxomogo-majna/">Експертна оцінка нерухомого
                      майна</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1320"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1320">
                    <a title="Експертна оцінка земельних ділянок" [routerLink]="'/works-ground'">Експертна оцінка
                      земельних ділянок</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2768"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2768">
                    <a title="Оцінка квартири" href="https://zem-price.web.app/otsenka-kvartyry/">Оцінка квартири</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1314"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1314">
                    <a title="Оцінка земель СГП"
                      href="https://zem-price.web.app/ocinka-zemel-silskogospodarskogo-priznachennya/">Оцінка земель
                      СГП</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1311"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1311">
                    <a title="Кадастрова оцінка землі"
                      href="https://zem-price.web.app/kadastrova-ocinka-zemli/">Кадастрова оцінка землі</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1322"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1322">
                    <a title="Експертна оцінка рухомого майна"
                      href="https://zem-price.web.app/ekspertna-ocinka-ruxomogo-majna/">Експертна оцінка рухомого
                      майна</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2776"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2776">
                    <a title="Оценка автомобиля" href="https://zem-price.web.app/otsenka-avtomobylya/">Оценка
                      автомобиля</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1315"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1315">
                    <a title="Оцінка заміської нерухомості"
                      href="https://zem-price.web.app/ocinka-zamiskoyi-neruxomosti/">Оцінка заміської нерухомості</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1312"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1312">
                    <a title="Оцінка приватного будинку"
                      href="https://zem-price.web.app/ocinka-privatnogo-budinku/">Оцінка приватного будинку</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1317"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1317">
                    <a title="Оцінка частки в квартирі"
                      href="https://zem-price.web.app/ocinka-chastki-v-kvartiri/">Оцінка частки в квартирі</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1310"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1310">
                    <a title="Оцінка комерційної нерухомості"
                      href="https://zem-price.web.app/ocinka-komercijnoyi-neruxomosti/">Оцінка комерційної
                      нерухомості</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1316"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1316">
                    <a title="Оцінка майна підприємства"
                      href="https://zem-price.web.app/ocinka-majna-pidpriyemstva/">Оцінка майна підприємства</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1313"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1313">
                    <a title="Оцінка майна при розлученні"
                      href="https://zem-price.web.app/ocinka-majna-pri-rozluchenni/">Оцінка майна при розлученні</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1309"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1309">
                    <a title="Оцінка заставного майна" href="https://zem-price.web.app/ocinka-zastavnogo-majna/">Оцінка
                      заставного майна</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1308"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1308">
                    <a title="Оцінка майна для суду" href="https://zem-price.web.app/ocinka-majna-dlya-sudu/">Оцінка
                      майна для суду</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1319"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1319">
                    <a title="Оцінка майна боржника" href="https://zem-price.web.app/ocinka-majna-borzhnika/">Оцінка
                      майна боржника</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1318"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1318">
                    <a title="Оцінка збитку від затоплення квартири"
                      href="https://zem-price.web.app/ocinka-zbitku-vid-zatoplennya-kvartiri/">Оцінка збитку від
                      затоплення квартири</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2045"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2045">
                    <a title="Оцінка збитків від пожежі"
                      href="https://zem-price.web.app/ekspertna-otsinka-zbytkiv-vid-pozhezhi/">Оцінка збитків від
                      пожежі</a>
                  </li>
                </ul>
              </li>
              <li itemscope="itemscope" id="menu-item-1294"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1294 dropdown">
                <a title="Землевпорядні роботи" [routerLink]="'/land'" data-toggle="dropdown" class="dropdown-toggle"
                  aria-haspopup="true">Землевпорядні роботи <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu dropdownhover-bottom">
                  <li itemscope="itemscope" id="menu-item-2164"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2164">
                    <a title="Технічна документація із землеустрою"
                      href="https://zem-price.web.app/tehnichna-dokumentatsiya-iz-zemleustroyu/">Технічна документація
                      із землеустрою</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1324"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1324">
                    <a title="Проект відведення земельної ділянки"
                      href="https://zem-price.web.app/proekt-vidvedennya-zemelnoyi-dilyanky/">Проект відведення
                      земельної ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1325"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1325">
                    <a title="Проект на зміну цільового призначення землі"
                      href="https://zem-price.web.app/proekt-na-zminu-cilovogo-priznachennya-zemli/">Проект на зміну
                      цільового призначення землі</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1609"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1609">
                    <a title="Кадастровий план земельної ділянки"
                      href="https://zem-price.web.app/kadastrovyj-plan-zemelnoji-dilyanky/">Кадастровий план земельної
                      ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2549"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2549">
                    <a title="Оформлення земельної частки (паю)"
                      href="https://zem-price.web.app/oformlennya-zemelnoyi-chastky-payu/">Оформлення земельної частки
                      (паю)</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2335"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2335">
                    <a title="Нормативно грошова оцінка"
                      href="https://zem-price.web.app/normatyvna-otsinka-zemelnyh-dilyanok/">Нормативно грошова
                      оцінка</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2550"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2550">
                    <a title="Витяг з технічної документації про нормативно-грошову оцінку земельної ділянки"
                      href="https://zem-price.web.app/vytyag-z-tehnichnoyi-dokumentatsiyi-pro-normatyvno-groshovu-otsinku-zemelnoyi-dilyanky/">Витяг
                      з технічної документації про нормативно-грошову
                      оцінку земельної ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1323"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1323">
                    <a title="Геодезичні роботи" href="https://zem-price.web.app/geodezichni-roboti/">Геодезичні
                      роботи</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2547"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2547">
                    <a title="Винос меж земельної ділянки в натурі"
                      href="https://zem-price.web.app/vynos-mezh-zemelnoyi-dilyanky-v-naturi/">Винос меж земельної
                      ділянки в натурі</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2530"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2530">
                    <a title="Витяг з Державного земельного кадастру"
                      href="https://zem-price.web.app/vytyag-z-derzhavnogo-zemelnogo-kadastru/">Витяг з Державного
                      земельного кадастру</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2548"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2548">
                    <a title="Виправлення технічної помилки ДЗК"
                      href="https://zem-price.web.app/vypravlennya-tehnichnoyi-pomylky-dzk/">Виправлення технічної
                      помилки ДЗК</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2546"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2546">
                    <a title="Черговий кадастровий план земельної ділянки"
                      href="https://zem-price.web.app/chergovyj-kadastrovyj-plan-zemelnoyi-dilyanky/">Черговий
                      кадастровий план земельної ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2531"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2531">
                    <a title="Звіт про якісну характеристику ґрунтового покриву земельної ділянки"
                      href="https://zem-price.web.app/zvit-pro-yakisnu-harakterystyku-gruntovogo-pokryvu-zemelnoyi-dilyanky/">Звіт
                      про якісну характеристику ґрунтового покриву
                      земельної ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2532"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2532">
                    <a title="Звіт про сільськогосподарські втрати спричинені вилученням сільськогосподарських угідь"
                      href="https://zem-price.web.app/zvit-pro-silskogospodarski-vtraty-sprychyneni-vyluchennyam-silskogospodarskyh-ugid/">Звіт
                      про сільськогосподарські втрати спричинені
                      вилученням сільськогосподарських угідь</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2545"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2545">
                    <a title="План поділу земельної ділянки"
                      href="https://zem-price.web.app/plan-podilu-zemelnoyi-dilyanky/">План поділу земельної ділянки</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1617"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1617">
                    <a title="Обмінний файл xml" href="https://zem-price.web.app/obminni-fajly-xml/">Обмінний файл
                      xml</a>
                  </li>
                </ul>
              </li>
              <li itemscope="itemscope" id="menu-item-1295"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1295 dropdown">
                <a title="Послуги БТІ" [routerLink]="'/bti'" data-toggle="dropdown" class="dropdown-toggle"
                  aria-haspopup="true">Послуги БТІ <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li itemscope="itemscope" id="menu-item-1330"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1330">
                    <a title="Послуги БТI" href="https://zem-price.web.app/poslugi-bti/">Послуги БТI</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-1329"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1329">
                    <a title="Виготовлення технічного паспорту БТІ"
                      href="https://zem-price.web.app/vigotovlennya-texnichnix-pasportiv-bti/">Виготовлення технічного
                      паспорту БТІ</a>
                  </li>
                </ul>
              </li>
              <li itemscope="itemscope" id="menu-item-2052"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2052 dropdown">
                <a title="Супровід угод" [routerLink]="'/deals'" data-toggle="dropdown" class="dropdown-toggle"
                  aria-haspopup="true">Супровід угод <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li itemscope="itemscope" id="menu-item-2074"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2074">
                    <a title="Супровід угод з нерухомістю на первинному ринку"
                      href="https://zem-price.web.app/suprovid-ugod-z-neruhomistyu-na-pervynnomu-rynku/">Супровід угод з
                      нерухомістю на первинному ринку</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2073"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2073">
                    <a title="Супровід угод з нерухомістю на вторинному ринку"
                      href="https://zem-price.web.app/suprovid-ugod-z-neruhomistyu-na-vtorynnomu-rynku/">Супровід угод з
                      нерухомістю на вторинному ринку</a>
                  </li>
                </ul>
              </li>
              <li itemscope="itemscope" id="menu-item-2197"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2197 dropdown">
                <a title="Реєстраційні послуги" [routerLink]="'/register'" data-toggle="dropdown"
                  class="dropdown-toggle" aria-haspopup="true">Реєстраційні послуги <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li itemscope="itemscope" id="menu-item-2202"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2202">
                    <a title="Державна Реєстрація права власності на нерухоме майно"
                      href="https://zem-price.web.app/derzhavna-reyestratsiya-prava-vlasnosti-na-neruhome-majno/">Державна
                      Реєстрація права власності на нерухоме майно</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2199"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
                    <a title="Інформація з ДРРП на нерухоме майно"
                      href="https://zem-price.web.app/informatsiya-z-drrp-na-neruhome-majno/">Інформація з ДРРП на
                      нерухоме майно</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2200"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2200">
                    <a title="Внесення змін та виправлення технічних помилок"
                      href="https://zem-price.web.app/vnesennya-zmin-ta-vypravlennya-tehnichnyh-pomylok/">Внесення змін
                      та виправлення технічних помилок</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2203"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2203">
                    <a title="Юридичні особи, ФОП, громадські формування"
                      href="https://zem-price.web.app/derzhreyestratsiya-yurosib-ta-fop/">Юридичні особи, ФОП,
                      громадські формування</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2201"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2201">
                    <a title="Витяг з ЄДР юридичних осіб, ФОП та громадських формувань"
                      href="https://zem-price.web.app/vytyag-z-yedr-yurydychnyh-osib-fop-ta-gromadskyh-formuvan/">Витяг
                      з ЄДР юридичних осіб, ФОП та громадських
                      формувань</a>
                  </li>
                  <li itemscope="itemscope" id="menu-item-2198"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2198">
                    <a title="Обтяження та інше речове право"
                      href="https://zem-price.web.app/obtyazhennya-ta-inshe-rechove-pravo/">Обтяження та інше речове
                      право</a>
                  </li>
                </ul>
              </li>
              <!-- <li itemscope="itemscope" id="menu-item-1296"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1296">
                <a title="Прайс" [routerLink]="'/price'">Прайс</a>
              </li>
              <li itemscope="itemscope" id="menu-item-1290"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1290">
                <a title="Ліцензії та свідоцтва" [routerLink]="'/license'">Ліцензії та свідоцтва</a>
              </li>
              <li itemscope="itemscope" id="menu-item-1289"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">
                <a title="Контакти" [routerLink]="'/contacts'">Контакти</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<div id="lightboxOverlay" class="lightboxOverlay" style="display: none"></div>
<div id="lightbox" class="lightbox" style="display: none">
  <div class="lb-outerContainer">
    <div class="lb-container">
      <img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
      <div class="lb-nav">
        <a class="lb-prev" href="https://zem-price.web.app/"></a><a class="lb-next"
          href="https://zem-price.web.app/"></a>
      </div>
      <div class="lb-loader"><a class="lb-cancel"></a></div>
    </div>
  </div>
  <div class="lb-dataContainer">
    <div class="lb-data">
      <div class="lb-details">
        <span class="lb-caption"></span><span class="lb-number"></span>
      </div>
      <div class="lb-closeContainer"><a class="lb-close"></a></div>
    </div>
  </div>
</div>
<div class="page">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="logo">
            <a href="https://zem-price.web.app/">
              <img alt="" title="" data-src="https://zemocenka.com/wp-content/uploads/2017/06/ZemOcenka.png"
                class="ls-is-cached lazyloaded"
                src="./Інститут незалежної експертної оцінки рухомого та нерухомого майна_files/ZemOcenka.png" /><noscript><img
                  src="https://zemocenka.com/wp-content/uploads/2017/06/ZemOcenka.png" alt="" title="" /></noscript>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-md-push-7 col-sm-6"></div>
        <div class="col-md-6 col-md-offset-1 col-md-pull-3 col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="text-container">
                <h4 class="text-uppercase">Наше представництво</h4>
                <ul>
                  <li>
                    <i class="fa fa-map-marker"></i>
                    м. Херсон, вул. Миру, 33, оф. 1
                  </li>
                  <li><i class="fa fa-clock-o"></i>+38(095)-693-57-93</li>
                </ul>
              </div>

              <div class="text-container">
                <h4 class="text-uppercase">Графік роботи</h4>
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    пн-пт з 09:00 - 18:00;<br />
                    сб-нд вихідний день<br />
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="text-container">
                <h4 class="text-uppercase">Послуги компанії</h4>
                <div id="links_widget-2" class="widget widget_links_widget">
                  <ul class="menu">
                    <li>
                      <a href="https://zem-price.web.app/ekspertna-ocenka-zemelnih-dilyanok/"><span
                          class="fa fa-check"></span> Експертна оцінка
                        земельних ділянок</a>
                    </li>
                    <li>
                      <a href="https://zem-price.web.app/ekspertna-ocinka-neruxomogo-majna/"><span
                          class="fa fa-check"></span> Експертна оцінка
                        нерухомого майна</a>
                    </li>
                    <li>
                      <a href="https://zem-price.web.app/ekspertna-ocinka-ruxomogo-majna/"><span
                          class="fa fa-check"></span> Експертна оцінка
                        рухомого майна</a>
                    </li>
                    <li>
                      <a href="https://zem-price.web.app/kadastrova-ocinka-zemli/"><span class="fa fa-check"></span>
                        Кадастрова оцінка
                        землі</a>
                    </li>
                    <li>
                      <a href="https://zem-price.web.app/ocinka-komercijnoyi-neruxomosti/"><span
                          class="fa fa-check"></span> Оцінка комерційної
                        нерухомості</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>